*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    min-width: 380px;
    font-size: 62.5%;
}
body{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
.main-nav {   
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(65, 55, 167, 0.16);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.16);
    padding-right: 25px ;
}
.main-nav__img{
    display: flex;
    align-items: center;
}
.main-nav img{  
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.main-nav__list{ 
    margin-left: auto;
    text-align: end;  
    padding: 10px;   
}
.main-nav__link{  
    display: inline-block;  
    font-size: 1.6rem;
    margin: 10px 0;
    padding: 10px 20px;   
}

.main-nav__link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-nav__link a:hover{  
    color: rgb(100, 96, 235);
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.main__container__text{
    display: flex;
    flex-wrap:wrap;
}

.main__container__text h1{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(238, 226, 226);
    margin-bottom: 1rem;
} 
.main__container__text span{
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(238, 226, 226);
    margin-bottom: 1rem;
}

.main__container__text img{
    border-radius: 50px;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
}
.main__container__text__C1{
    width: 100%;
}
.main__container__text__icon{

    display: flex;
    flex-wrap:wrap;
}

.main__container__text__icon .icon{
    width: 45px;
    height: 45px;
}

.main__container__text__C3{
    margin: auto;
}


.section__container{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.section__container_title{
    font-size: 2.0rem;
    font-weight: 700; 
}

.section__container_span{
    color: #22d3ee;
}


.section__container_project{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(30, 41, 59);
    padding: 30px 15px 10px 15px;
    justify-content: center;
}

.section__container_project__C1{
    display: flex;
    justify-content: center;
}

.section__container_project__C1 img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.section__container_project__C2{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
.section__container_project__C2 h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.section__container_project__C2 h2:hover{
    color: #22d3ee;
}

.section__container_project__C2 p{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(159, 159, 159);
}


.section__container_project__C2__type{
    margin-bottom: 15px;
}

.section__container_project__C2__type span{
    font-size: 1.4rem;   
    font-weight: 700;
    padding: 5px 10px;
    margin: 0 3px;
}

.type_html{
    color: rgb(54 83 20);
    background-color: rgb(163 230 53);
    padding: 5px;
    border-radius: 5px;
}
.type_js{
    color: rgb(83, 80, 20);
    background-color: rgb(224, 230, 53);
    padding: 5px;
    border-radius: 5px;
}
.type_css{
    color: rgb(20, 56, 83);
    background-color: rgb(53, 124, 230);
    padding: 5px;
    border-radius: 5px;
}




footer{
    background-color: rgba(65, 55, 167, 0.16);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
}

.footer__container__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
